<ng-container >

    <h1 mat-dialog-title>Search </h1>
    <div mat-dialog-content class="mat-typography">
      <form [formGroup]="dynamicForm" enctype="multipart/form-data" #saveform>
        <div class="container" style="width: 100%;">
          <div class="row">
            <!-- <div class="col-sm-12 col-md-6" style="margin-bottom: 15px;">
              <label for="name">Name:</label>
              <div class="inputFields">
                <input [formControl]="dynamicForm.controls['name']" type="text" class="form-control inputFields"
                  id="name" placeholder="Enter name" name="name">
                <ng-container *ngFor="let validation of validation_messages.name">
                  <div style="color:red;margin-top: -15px;"
                    *ngIf="dynamicForm.get('name').hasError(validation.type) && (dynamicForm.get('name').dirty || dynamicForm.get('name').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </div> -->
            <div class="col-sm-12 col-md-6" style="margin-bottom: 15px;">
              <label for="slider">Territory:</label>
              <div class="inputFields">
  
                <mat-form-field appearance="fill" style="width: 100% !important;">
  
                  <mat-select placeholder="Select Territory" [formControl]="dynamicForm.controls['territory_name']">
                    <mat-option *ngFor="let item of territoryList" [value]="item">
                      {{item}}
                    </mat-option>
  
                  </mat-select>
                </mat-form-field>
                <!-- <ng-container *ngFor="let validation of validation_messages.slider">
                  <div style="color:red; margin-top: -15px;"
                    *ngIf="dynamicForm.get('slider').hasError(validation.type) && (dynamicForm.get('slider').dirty || dynamicForm.get('slider').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container> -->
              </div>
            </div>

            <div class="col-sm-12 col-md-6" style="margin-bottom: 15px;">
              <label for="slider">Operator:</label>
              <div class="inputFields">
  
                <mat-form-field appearance="fill" style="width: 100% !important;">
  
                  <mat-select placeholder="Select Operator" [formControl]="dynamicForm.controls['operator_name']">
                    <mat-option *ngFor="let item of operatorList" [value]="item">
                      {{item}}
                    </mat-option>
  
                  </mat-select>
                </mat-form-field>
                <!-- <ng-container *ngFor="let validation of validation_messages.slider">
                  <div style="color:red; margin-top: -15px;"
                    *ngIf="dynamicForm.get('slider').hasError(validation.type) && (dynamicForm.get('slider').dirty || dynamicForm.get('slider').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container> -->
              </div>
            </div>
  
          </div>

          <div class="row" style="margin-bottom: 10px;">
            <div class="col-sm-12 col-md-6" style="margin-bottom: 15px;">
              <label for="name">Type:</label>
              <div class="inputFields">
                <mat-form-field appearance="fill" style="width: 100% !important;">
  
                  <mat-select placeholder="Select Type" [formControl]="dynamicForm.controls['pack_type']">
                    <mat-option *ngFor="let item of packTypeList" [value]="item">
                      {{item}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- <ng-container *ngFor="let validation of validation_messages.name">
                  <div style="color:red;margin-top: -15px;"
                    *ngIf="dynamicForm.get('name').hasError(validation.type) && (dynamicForm.get('name').dirty || dynamicForm.get('name').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container> -->
              </div>
            </div>
            <div class="col-sm-12 col-md-6" style="margin-bottom: 15px;">
              <label for="name">Status:</label>
              <div class="inputFields">
                <mat-form-field appearance="fill" style="width: 100% !important;">
  
                  <mat-select placeholder="Select Status" [formControl]="dynamicForm.controls['current_status']">
                    <mat-option *ngFor="let item of statusList" [value]="item">
                      {{item}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- <ng-container *ngFor="let validation of validation_messages.name">
                  <div style="color:red;margin-top: -15px;"
                    *ngIf="dynamicForm.get('name').hasError(validation.type) && (dynamicForm.get('name').dirty || dynamicForm.get('name').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container> -->
              </div>
            </div>
          </div>
  
  
          <div mat-dialog-actions class="row" style="margin-top: 10px;">
            <div class="col-sm-6 col-md-6">
              <!-- <button (click)="onNoClick()" type="submit" class="btn btn-secondary">Cancel</button> -->
              <button mat-button (click)="onNoClick('')" class="btn btn-secondary">No Thanks</button>
            </div>
  
            <div class="col-sm-6 col-md-6">
              <button mat-button  [disabled]="dynamicForm.invalid" (click)="search()"
                style="float: right;" class="btn btn-primary" cdkFocusInitial>Submit</button>
              <!-- <button *ngIf="data.type == 'imageUpload'"  mat-button [disabled]="dynamicForm.invalid" [mat-dialog-close]="data.id" 
                style="float: right;" class="btn btn-primary" cdkFocusInitial>Upload</button> -->
            </div>
  
          </div>
        </div>
  
      </form>
  
      
    </div>
  </ng-container>